<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.balram.myfirstplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Calci</name><js-module name="Calci" src="www/Calci.js"><clobbers target="cordova.plugins.Calci" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Calci"><param name="android-package" value="com.balram.myfirstplugin.Calci" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Calci.java" target-dir="src/com/balram/myfirstplugin/Calci" /></platform></plugin>